Examples/Node-Red-Flows/Flows.txt
[{"id":"85286c84.7ad79","type":"http response","z":"82dde9c6.7d2218","name":"","x":694,"y":119,"wires":[]},{"id":"5dac12bb.a253ec","type":"function","z":"82dde9c6.7d2218","name":"GenCheckPayload","func":"msg.payload = \n{ \n    'status': 'alive',\n    'timestamp': Date.now()\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":445,"y":146,"wires":[["85286c84.7ad79","6c8a1bea.9375e4"]]},{"id":"c60c8edd.39f37","type":"http in","z":"82dde9c6.7d2218","name":"","url":"/check","method":"get","swaggerDoc":"","x":207,"y":120,"wires":[["5dac12bb.a253ec"]]},{"id":"6c8a1bea.9375e4","type":"debug","z":"82dde9c6.7d2218","name":"","active":false,"console":"false","complete":"payload","x":691,"y":206,"wires":[]}]

[{"id":"d4bcd7cf.2b4328","type":"debug","z":"82dde9c6.7d2218","name":"","active":true,"console":"false","complete":"false","x":914,"y":454,"wires":[]},{"id":"c14db7dd.3eb248","type":"http request","z":"82dde9c6.7d2218","name":"","method":"POST","ret":"txt","url":"192.168.1.6:4300/api/firefighter/raa/station/devices/reading","x":696,"y":340,"wires":[["1ff1ec58.e00e14","d4bcd7cf.2b4328"]]},{"id":"323b8f9a.cdc47","type":"function","z":"82dde9c6.7d2218","name":"","func":"msg.payload = \n{\n    \"device\": {\n        \"id\": msg.req.params.device_id\n    },\n    \"reading\": {\n        \"timestamp\": Date.now()/1000,\n        \"value\": msg.req.params.value\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":350,"wires":[["c14db7dd.3eb248","d9917939.266e88"]]},{"id":"1ff1ec58.e00e14","type":"http response","z":"82dde9c6.7d2218","name":"","x":912,"y":344,"wires":[]},{"id":"88f67027.77099","type":"http in","z":"82dde9c6.7d2218","name":"","url":"/read/:device_id/:value","method":"get","swaggerDoc":"","x":185,"y":361,"wires":[["323b8f9a.cdc47","2d1351f3.d2ecae"]]},{"id":"d9917939.266e88","type":"debug","z":"82dde9c6.7d2218","name":"","active":false,"console":"false","complete":"payload","x":659,"y":462,"wires":[]},{"id":"2d1351f3.d2ecae","type":"debug","z":"82dde9c6.7d2218","name":"","active":false,"console":"false","complete":"req.params","x":371,"y":494,"wires":[]}]

[{"id":"dfda8e12.20257","type":"http response","z":"82dde9c6.7d2218","name":"","x":869,"y":580,"wires":[]},{"id":"17982d7e.e867d3","type":"http request","z":"82dde9c6.7d2218","name":"","method":"POST","ret":"obj","url":"192.168.1.6:4300/api/firefighter/raa/station/devices/register","x":614,"y":607,"wires":[["dfda8e12.20257","ce518435.31ae78"]]},{"id":"ce518435.31ae78","type":"debug","z":"82dde9c6.7d2218","name":"","active":false,"console":"false","complete":"false","x":870,"y":688,"wires":[]},{"id":"f577959c.0a8868","type":"function","z":"82dde9c6.7d2218","name":"","func":"msg.payload = {\n    \"stationID\": 1,\n    \"device\": {\n        \"id\": msg.req.params.device_id,\n        \"name\": \"Device@1_ID\" + msg.req.params.device_id,\n        \"description\": \"no description\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":391,"y":673,"wires":[["17982d7e.e867d3"]]},{"id":"352a7d6.fcad582","type":"http in","z":"82dde9c6.7d2218","name":"","url":"/register/:device_id","method":"get","swaggerDoc":"","x":151,"y":578,"wires":[["f577959c.0a8868"]]}]